.august {
	background-image: url("/sunflower.png");
	background-position: right;
	justify-content: space-between;
	align-items: center;

	svg {
		width: 33rem;
		margin: -14rem -6rem 0 0;
	}

	.legend-container {
		margin: 30rem 0 0 1rem;
	}

	.label {
		pointer-events: none;
		text-anchor: middle;
		font-weight: 900;
		font-size: 8px;
		font-family: "Arial", sans-serif;
		dominant-baseline: middle;
	}

	.circle-2 {
		fill: #422426;
		stroke: #232323;
		stroke-width: 2;
		stroke-dasharray: 1 3;
	}
}
