.august {
	background-image: url("/sunflower.png");
	background-position: right;
	justify-content: space-between;

	svg {
		width: 33rem;
		margin: -23.5rem 0 0 -5.5rem;
	}

	.legend-container {
		margin: 31rem 1rem 0 0;
	}

	.label {
		pointer-events: none;
		text-anchor: middle;
		font-weight: 900;
		font-size: 8px;
		font-family: "Arial", sans-serif;
		dominant-baseline: middle;
	}

	.circle-2 {
		fill: #422426;
		stroke: #232323;
		stroke-width: 2;
		stroke-dasharray: 1 3;
	}

	.circle-3 {
		fill: none;
		stroke: #232323;
		stroke-opacity: 0.2;
		stroke-width: 1;
	}
}
