.june {
	align-items: flex-end;
	position: relative;

	svg {
		width: 100%;
		max-width: 38rem;
		height: auto;
		transform: rotate(-20deg);
		position: absolute;
		left: 13rem;
		top: 7rem;
	}

	.clickable-segment {
		cursor: pointer;
		transition: fill 0.2s ease;
		stroke-width: 0.5px;
		stroke: #000;
		stroke-width: 1;
	}

	.today {
		stroke-width: 2px;
	}

	.label {
		fill: #000;
		font-size: 10px;
		text-anchor: middle;
		dominant-baseline: middle;
		pointer-events: none;
	}

	.legend-container {
		margin: 0 0 1rem 1rem;
	}

	.watermelon-path {
		fill: #fff;
		stroke: #000;
		stroke-width: 1.5px;
		stroke-linejoin: round;
	}

	.outer-path {
		fill: none;
		stroke: #81c784;
		stroke-width: 80px;
		stroke-linecap: round;
	}

	.outer-path-1 {
		fill: none;
		stroke: #2e7d32;
		stroke-width: 65px;
		stroke-linecap: round;
		opacity: 0.7;
	}

	.outer-path-2 {
		fill: none;
		stroke: #1b5e20;
		stroke-width: 35px;
		stroke-linecap: round;
		opacity: 0.4;
	}
}
