.march {
	justify-content: center;
	background-image: url("/st-patrick.png");
	background-position: center;
	align-items: flex-end;

	svg {
		position: relative;
		top: -13.5rem;
		left: 16.5rem;
		width: 25rem;
		transform: rotate(22deg);
	}

	.legend-container {
		position: relative;
		bottom: 1rem;
		left: 7rem;
	}

	.label {
		text-anchor: middle;
		font-size: 5px;
		fill: #111111;
		pointer-events: none;
		font-family: sans-serif;
		font-weight: bold;
	}

	.shard {
		stroke: #95a649;
		stroke-width: 0.5;
	}

	.path {
		fill: none;
		fill-rule: evenodd;
		stroke: #95a649;
		stroke-width: 2px;
	}
}
