.may {
	align-items: flex-end;

	svg {
		height: 27rem;
	}

	.flower {
		transition: transform 0.2s ease-out;
	}

	.legend-container {
		margin: auto 1rem 1rem 0;
	}

	.label {
		font-size: 6px;
		font-weight: 900;
		text-anchor: middle;
		font-family: cursive;
		pointer-events: none;
	}

	.flower.today {
		cursor: pointer;
		// animation: visual-alert 3s infinite;
	}

	@keyframes visual-alert {
		0%,
		100% {
			filter: drop-shadow(0 0 0px #cf70b1);
			stroke-width: 1px;
		}
		25% {
			filter: drop-shadow(0 0 2px #cf70b1);
			stroke-width: 3px;
		}
		50% {
			filter: drop-shadow(0 0 1px #cf70b1);
			stroke-width: 2px;
		}
		75% {
			filter: drop-shadow(0 0 2px #cf70b1);
			stroke-width: 3px;
		}
	}
}
