.may {
	align-items: flex-end;

	svg {
		height: 27rem;
	}

	.flower {
		transition: transform 0.2s ease-out;
	}

	.flower:hover {
		filter: brightness(1.05);
		transform-box: fill-box;
		transform-origin: center;
	}

	.legend-container {
		margin: auto 1rem 1rem 0;
	}

	.label {
		font-size: 6px;
		font-weight: 900;
		text-anchor: middle;
		font-family: cursive;
		pointer-events: none;
	}

	.today use {
		filter: drop-shadow(0 0 1px #e98cac);
	}

	.today {
		cursor: pointer;
	}
}
