.october {
	background-image: url("/pumpkin.png");
	background-position: center;

	.pumpkin-svg {
		max-width: 24rem;
		position: relative;
		top: 13rem;
		left: -2.5rem;
	}

	.legend-container {
		position: relative;
		top: 1rem;
		left: 15.75rem;
	}

	.label {
		text-anchor: middle;
		font-size: 12px;
		font-weight: 900;
		pointer-events: none;
		font-family: sans-serif;
	}

	.path {
		fill: none;
		stroke: #3e2723;
		stroke-width: 6;
		pointer-events: none;
	}
}
