.september {
	background-position: right;
	align-items: flex-end;
	justify-content: space-between;

	.leaf-path {
		cursor: pointer;
		transition: fill 0.3s ease;
		stroke: #151d12;
		stroke-width: 1.5;
	}

	svg {
		position: relative;
		top: 5rem;
	}

	.legend-container {
		margin: 0 0 1rem 1rem;
	}

	.leaf-label {
		font-size: 13px;
		font-weight: 600;
		text-anchor: middle;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	}

	.line {
		stroke: #151d12;
		stroke-width: 1;
		stroke-linecap: round;
	}

	.line-2 {
		stroke-width: 1.5;
	}

	// .leaf-container.today {
	// 	cursor: pointer;
	// 	// animation: visual-alert 3s infinite;
	// }

	@keyframes visual-alert {
		0%,
		100% {
			filter: drop-shadow(0 0 1px #6c9841);
			stroke-width: 1px;
		}
		25% {
			filter: drop-shadow(0 0 6px #6c9841);
			stroke-width: 3px;
		}
		50% {
			filter: drop-shadow(0 0 3px #6c9841);
			stroke-width: 2px;
		}
		75% {
			filter: drop-shadow(0 0 6px #6c9841);
			stroke-width: 3px;
		}
	}
}
