.september {
	background-image: url("/leaves.png");
	background-position: right;
	align-items: flex-end;
	justify-content: space-between;

	.leaf-path {
		cursor: pointer;
		transition: fill 0.3s ease;
		stroke: #151d12;
		stroke-width: 1.5;
	}

	svg {
		position: relative;
		top: 5rem;
	}

	.legend-container {
		margin: 0 0 1rem 1rem;
	}

	.leaf-label {
		font-size: 13px;
		font-weight: 600;
		text-anchor: middle;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	}

	.line {
		stroke: #151d12;
		stroke-width: 1;
		stroke-linecap: round;
	}

	.line-2 {
		stroke-width: 1.5;
	}
}
