.legend {
	display: flex;
	flex-direction: column;
	gap: 12px;
	background: #ffffff87;
	border-radius: 9px;
	padding: 0.5rem;
	border: 1px solid #d3d3d3;
}

.mood-item {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
}

.swatch {
	width: 20px;
	height: 20px;
	border: 1px solid #000;
}

.active {
	outline: 3px solid #000;
	outline-offset: 2px;
}

.label {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}
