.flex-row,
.flex-column {
	gap: 0.5rem;
}

.today {
	width: 45%;
	min-width: 38rem;
}

.padding-0 {
	padding-bottom: 0;
}

.right-side {
	width: 100%;
}

.avg {
	height: 12rem;
}

.mood-trends {
	height: 19.5rem;
}

.great-vibes {
	font-family: "Petit Formal Script", cursive;
	font-weight: 400;
	font-style: normal;
	margin: 2.5rem 0 0.5rem;
	font-size: 2rem;
}
