.flex-row,
.flex-column {
	gap: 0.5rem;
}

.today {
	width: 45%;
	min-width: 38rem;
}

.padding-0 {
	padding-bottom: 0;
}

.right-side {
	width: 100%;
}

.avg {
	height: 12rem;
}

.mood-trends {
	height: 19.5rem;
}

.secondary-title {
	margin-top: 3rem;
}

mat-icon {
	cursor: pointer;
}
