.tracker-container {
	max-width: 500px;
	margin: auto;
	text-align: center;
	font-family: sans-serif;
}
.day-segment {
	cursor: pointer;
	transition: stroke 0.3s ease;
}
.day-segment:hover {
	stroke-width: 45px;
}
