.tracker-container {
	width: 50rem;
	height: 45rem;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	background-image: url("/knit.png");
	background-size: cover;
}
.day-segment {
	cursor: pointer;
	transition: stroke 0.3s ease;
}
.day-segment:hover {
	stroke-width: 45px;
}

svg {
	max-width: 30rem;
}

.legend-container {
	margin: 0 1rem 1rem 0;
}
