.tracker-container {
	justify-content: center;
	background-image: url("/st-patrick.png");
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	width: 50rem;
	align-items: flex-end;
}

.canvas {
	display: flex;
	align-items: flex-start;
	gap: 30px;
}

svg {
	position: relative;
	top: -5.5rem;
	left: 18.5rem;
	width: 35rem;
}

.segment {
	cursor: pointer;
	transition: transform 0.1s;
}

.segment:hover {
	filter: brightness(0.9);
}

.legend {
	display: flex;
	flex-direction: column;
	gap: 12px;
	position: relative;
	top: -3rem;
	left: 3rem;
	background: #f6f6f6;
}

.mood-item {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
}

.swatch {
	width: 20px;
	height: 20px;
	border: 1px solid #000;
}

.active {
	outline: 3px solid #000;
	outline-offset: 2px;
}

.label {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}
