.calendar {
	margin-left: 3rem;
}

.main-container {
	width: 100%;
	gap: 3rem;
}

.month-view {
	background: #f3f3f3;
	width: calc(100% - 10rem);
}

app-mood-view {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
