.chart-container {
	position: relative;
	width: 100%;
	max-width: fit-content;
	aspect-ratio: 1 / 1;

	svg {
		transform: rotate(-90deg);
		transform-origin: center;
		width: 140px;
		height: 140px;
		object-fit: cover;
		margin-top: -1rem;
	}

	circle {
		fill: transparent;
		stroke-width: 10px;
	}

	.track-bg {
		stroke: #f1f1f1;
	}

	.track-fill {
		transition: stroke-dashoffset 0.4s ease-out;
	}

	.chart-value {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: sans-serif;
		font-size: 1.5rem;
		font-weight: bold;
		color: #1e293b;
	}
}

.main-container {
	width: 100%;
	gap: 1.5rem;
}

h4 {
	margin: 0;
}

.message {
	font-size: 0.95rem;
	color: #353535;
	margin-top: 0.5rem;
	display: inline-block;
}

.pill {
	padding: 0.35rem 0.65rem;
	color: #2b2b2b;
	display: inline-block;
	border-radius: 14px;
}
