.day-color {
	padding: 1rem;
	border-radius: 25px;
	color: #d3d3d3;
}

.days {
	gap: 1.75rem;
}

.section-title {
	margin: 0;
	gap: 0.5rem;
}

.header {
	margin: 0.3rem 0 1.5rem 0;
}

p {
	margin: 0;
}

.current {
	gap: 0.5rem;
}
