<div class="container flex-row" [ngClass]="currentMonth() | lowercase">
	<ng-container [ngTemplateOutlet]="activeTemplate()" [ngTemplateOutletContext]="{ $implicit: moodLogic }">
	</ng-container>
</div>

<ng-template #january let-m>
	<svg viewBox="50 0 200 200" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<filter id="iceGlow">
				<feGaussianBlur stdDeviation="1.5" result="coloredBlur" />
				<feMerge>
					<feMergeNode in="coloredBlur" />
					<feMergeNode in="SourceGraphic" />
				</feMerge>
			</filter>
		</defs>
		@for (seed of m.days; track $index;) {
		<g class="frost-unit" (click)="m.updateMood(seed)"
			[attr.transform]="'translate(' + seed.x + ',' + seed.y + ') rotate(' + seed.rotation + ') scale(' + seed.scale + ')'">
			@for (angle of [0, 60, 120, 180, 240, 300]; track $index) {
			<path [attr.transform]="'rotate(' + angle + ')'" d="M 0 0 L 8 -5 L 16 0 L 8 5 Z" [attr.fill]="seed.color"
				fill-opacity="0.6" stroke="#414954" stroke-width="0.3" stroke-opacity="0.7" />
			<line x1="0" y1="0" x2="12" y2="0" [attr.transform]="'rotate(' + angle + ')'" stroke="#414954"
				stroke-width="0.2" opacity="0.4" />
			}
			<circle r="1.5" fill="#414954" opacity="0.8" />
			<text x="0" dy="12" text-anchor="middle" font-size="8" fill="#414954" font-weight="bold"
				[attr.transform]="'rotate(' + (-seed.rotation) + ')'">
				{{ $index + 1 }}
			</text>
		</g>
		}
	</svg>
	<div class="legend-container">
		<app-mood-picker (moodColorSelected)="m.getColor($event)" />
	</div>
</ng-template>
<ng-template #february let-m>
	<svg viewBox="-150 0 700 500" class="chocolate-svg svg">
		<defs>
			<clipPath id="heartClip">
				<path d="M50,100 C45,90 0,75 0,35 C0,10 25,0 50,25 C75,0 100,10 100,35 C100,75 55,90 50,100 Z" />
			</clipPath>

			<clipPath id="heartLidClip">
				<path
					d="M263,125 C330,5 520, 20 495,195 C480,305 295,435 280,465 C270,420 35,315 30,175 C25,25 200,10 260,120 Z" />
			</clipPath>

			<filter id="wrapperJitter" x="-20%" y="-20%" width="140%" height="140%">
				<feTurbulence type="fractalNoise" baseFrequency="0.5" numOctaves="3" result="noise" />
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="3" xChannelSelector="R" yChannelSelector="G" />
			</filter>
		</defs>
		<g transform="translate(-220, 40) rotate(-20)" opacity="0.9" clip-path="url(#heartLidClip)">
			<path
				d="M263,125 C330,5 520, 20 495,195 C480,305 295,435 280,465 C270,420 35,315 30,175 C25,25 200,10 260,120 Z"
				fill="#916161" stroke="#916161" stroke-width="4" />

			<path d="M175,385 L495,105" stroke="#eecccc" stroke-width="80" opacity="0.75" fill="#FDE293" />

			<path d="M145,355 L475,70" stroke="#3E2723" stroke-width="4" opacity="0.8" fill="none" />
			<path d="M215,405 L510,145" stroke="#3E2723" stroke-width="4" opacity="0.8" fill="none" />

			<g transform="translate(0, 275) rotate(-50)">
				@for (leafIdx of [0, 1]; track leafIdx) {
				<g [attr.transform]="m.getLeafTransform(leafIdx)">
					<g clip-path="url(#heartClip)"> </g>
					<path d="M50,100 C45,90 0,75 0,35 C0,10 25,0 50,25 C75,0 100,10 100,35 C100,75 55,90 50,100 Z"
						fill="#eecccc" stroke="#3E2723" opacity="0.85" stroke-width="2" />
				</g>
				}
			</g>
		</g>

		<g transform="translate(55, 15) rotate(15)">
			<path id="boxPath"
				d="M263,125 C330,5 520, 20 495,195 C480,305 295,435 280,465 C270,420 35,315 30,175 C25,25 200,10 260,120 Z"
				fill="#eecccc" stroke="#916161" stroke-width="6" />
		</g>
		<g transform="translate(0, 0)">
			@for (c of m.days; track c.id) {
			<g (click)="m.updateMood(c)" style="cursor: pointer;" [attr.transform]="'rotate(' + c.rotate + ')'"
				style="transform-origin: center; transform-box: fill-box;">

				<path [attr.d]="c.pts" fill="none" stroke="#3E2723" stroke-width="1.2" opacity="0.4"
					filter="url(#wrapperJitter)" transform="scale(1.1)"
					style="transform-origin: center; transform-box: fill-box;" />

				<path [attr.d]="c.pts" [attr.fill]="c.color" stroke="#3E2723" stroke-width="2" />
				@let textFill = ['#FCF8E8', '#D4A373', '#fff'].includes(c.color) ? '#352522' : '#FCF8E8';
				<text [attr.x]="c.cx" [attr.y]="c.cy" text-anchor="middle" class="day-label" [attr.fill]="textFill">
					{{ c.id }}
				</text>
			</g>
			}
		</g>
	</svg>
	<div class="legend-container">
		<app-mood-picker (moodColorSelected)="m.getColor($event)" />
	</div>
</ng-template>
<ng-template #march let-m>
	<app-march />
</ng-template>
<ng-template #april let-m>
	<svg viewBox="0 0 400 600" class="april-svg" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<clipPath id="umbrella-mask">
				<path d="M180,70 
				C240,65 280,80 310,110 
				C340,140 375,190 375,275 
				Q340,285 300,300 
				L200,315 L100,300 
				Q60,285 25,275 
				C25,190 60,140 90,110 
				C120,80 160,65 220,70 Z" />
			</clipPath>
		</defs>

		<path d=" M200,280 L200,430" stroke="#7c7c88" stroke-width="4" fill="none" stroke-linecap="round" />
		<path d="M200,435 Q200,500 155,465" stroke="#8d7762" stroke-width="6" fill="none" stroke-linecap="round" />

		<g clip-path="url(#umbrella-mask)">
			@for (section of m.days; track $index) {
			<g (click)="m.updateMood(section)" class="shard-group">
				<path [attr.d]="section.path" [attr.fill]="section.color" opacity="1" />
				<text class="umbrella-label" [attr.x]="section.label.x" [attr.y]="section.label.y"
					[attr.transform]="'rotate(-80 ' + section.label.x + ' ' + section.label.y + ')'">
					{{ $index + 1 }}
				</text>
			</g>
			}
		</g>

		<path d="M180,70 
		C240,65 280,80 310,110 
		C340,140 375,190 375,275 
		Q340,285 300,300 
		L200,315 L100,300 
		Q60,285 25,275 
		C25,190 60,140 90,110 
		C120,80 160,65 220,70 Z" fill="none" stroke="#d3d3d3" stroke-width="1.5" stroke-linecap="round"
			stroke-linejoin="round" />
	</svg>
	<div class="legend-container">
		<app-mood-picker (moodColorSelected)="m.getColor($event)" />
	</div>
</ng-template>
<ng-template #may let-m>
	<app-may />
</ng-template>
<ng-template #june let-m>
	<div class="legend-container">
		<app-mood-picker (moodColorSelected)="m.getColor($event)" />
	</div>
	<svg viewBox="0 0 500 600" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<clipPath id="wedgeClip">
				<path [attr.d]="june_config.wedgePath" />
			</clipPath>
		</defs>

		<path [attr.d]="june_config.wedgePath" fill="#fff" stroke="#000" stroke-width="1.5" stroke-linejoin="round" />

		<g class="segments" clip-path="url(#wedgeClip)">
			@for (seg of m.days; track seg.id) {
			<path [attr.d]="seg.d" [attr.fill]="seg['color']" stroke="black" stroke-width="1"
				(click)="m.updateMood(seg)" class="clickable-segment" />

			<text [attr.x]="seg.x" [attr.y]="seg.y" fill="black" font-size="10" text-anchor="middle"
				dominant-baseline="middle" pointer-events="none" class="umbrella-label">
				{{ seg.id }}
			</text>
			}
		</g>
		<g clip-path="url(#wedgeClip)">
			<path [attr.d]="june_config.rindPathBase" fill="none" stroke="#81C784" stroke-width="80"
				stroke-linecap="round" />
			<path [attr.d]="june_config.rindPathMid" fill="none" stroke="#2E7D32" stroke-width="65"
				stroke-linecap="round" opacity="0.7" />
			<path [attr.d]="june_config.rindPathOuter" fill="none" stroke="#1B5E20" stroke-width="35"
				stroke-linecap="round" opacity="0.4" />
		</g>
	</svg>
</ng-template>
<ng-template #july let-m>
	<svg viewBox="0 0 400 450" class="svg">
		<defs>
			<path id="hex-shape" d="M25 0 L50 14.42 V43.25 L25 57.67 L0 43.25 V14.42 Z" />
		</defs>

		<g transform="translate(50, 50)">
			@for (day of m.days; track day.id) {
			<use href="#hex-shape" [attr.x]="day.x" [attr.y]="day.y" [style.fill]="day.color"
				(click)="m.updateMood(day)" stroke="#D4A017" stroke-width="1.5"
				class="transition-all duration-300 hover:brightness-95 cursor-pointer" />
			@let color = day.color === '#4E342E' || day.color === '#8D6E63' ? '#FFF5F6' : '#3E2723';
			<text [attr.x]="day.x + 25" [attr.y]="day.y + 35" font-size="11" font-weight="700" [attr.fill]="color"
				style="pointer-events: none;">
				{{ day.id }}
			</text>
			}
		</g>
	</svg>
	<div class="legend-container">
		<app-mood-picker (moodColorSelected)="m.getColor($event)" />
	</div>
</ng-template>
<ng-template #august let-m>
	<div class="legend-container">
		<app-mood-picker (moodColorSelected)="m.getColor($event)" />
	</div>
	<svg viewBox="0 0 250 250" class="sunflower">
		<defs>
			<mask id="petalMask">
				<path d="M125 105 C135 80, 140 40, 125 30 C110 40, 115 80, 125 105 Z" fill="white" />
			</mask>
		</defs>

		@for (day of m.days; track day.label) {
		<g [attr.transform]="day.groupTransform" (click)="m.updateMood(day)" style="cursor: pointer;">
			<path d="M125 105 C135 80, 140 40, 125 30 C110 40, 115 80, 125 105 Z" [attr.fill]="day.color"
				[attr.stroke]="day.stroke" stroke-width="0.7" />
			<g mask="url(#petalMask)" opacity="0.3" [attr.fill]="day.stroke">
				<path d="M125 105 C132 85, 130 50, 125 45 C120 50, 118 85, 125 105 Z" />
			</g>
			@let textFill = ['#F57C00', '#BF360C'].includes(day.color) ? '#FFF59D' : '#3E2723';
			<text x="125" y="48" text-anchor="middle" font-size="8" font-weight="900" [attr.fill]="textFill"
				[attr.transform]="day.textTransform" style="pointer-events: none; font-family: sans-serif;">
				{{ day.label }}
			</text>
		</g>
		}
		<circle cx="125" cy="125" r="40" fill="#3E2723" />
		<circle cx="125" cy="125" r="35" fill="#422426" stroke="#232323" stroke-width="2" stroke-dasharray="1 3" />
		<circle cx="125" cy="125" r="32" fill="none" stroke="#232323" stroke-opacity="0.2" stroke-width="1" />
	</svg>
</ng-template>
<ng-template #september let-m>
	<div class="legend-container">
		<app-mood-picker (moodColorSelected)="m.getColor($event)" />
	</div>
	<svg viewBox="0 0 800 600" preserveAspectRatio="xMidYMid meet" class="svg">
		<g class="leaves-group">
			@for (leaf of m.days; track leaf.day) {
			<g [attr.transform]="'translate(' + leaf.x + ',' + leaf.y + ') rotate(' + leaf.rotate + ') scale(' + leaf.scale + ')'"
				(click)="m.updateMood(leaf)" class="leaf-container">
				<path [attr.d]="leaf.d" [attr.fill]="leaf.color" stroke="#151d12" stroke-width="1.2"
					class="leaf-path" />
				<line x1="20" y1="2" x2="20" y2="48" stroke="#151d12" stroke-width="1" stroke-linecap="round" />
				<line x1="20" y1="0" x2="20" y2="-8" stroke="#151d12" stroke-width="1.5" stroke-linecap="round" />
				@let text = ['#D4E157','#9fc03b','#70a240', '#fff'].includes(leaf.color) ? '#151d12' : '#fff';
				<text x="10" y="20" [attr.fill]="text" class="leaf-label">
					{{ leaf.day }}
				</text>
			</g>
			}
		</g>
	</svg>
</ng-template>
<ng-template #october let-m>
	<svg viewBox="0 0 500 450" class="pumpkin-svg">
		<defs>
			<mask id="pumpkinMask">
				<path d="M250,100 C320,100 390,120 420,195 C450,290 400,410 300,410 
						 L200,410 C100,410 50,290 80,195 C110,120 180,100 250,100 Z" fill="white" />
			</mask>
		</defs>
		<path d="M230,80 Q250,20 270,80 L260,95 H240 Z" fill="#6d4c41" stroke="#3e2723" stroke-width="2" />
		<g mask="url(#pumpkinMask)">
			<rect width="500" height="450" fill="#FBF8F4" />
			@for (day of m.days; track day.id) {
			<g (click)="m.updateMood(day)" style="cursor: pointer;">
				<polygon [attr.points]="day.points" [attr.fill]="day.color || '#FBF8F4'" stroke="#3e2723"
					stroke-width="1" />
				<text [attr.x]="day.centerX" [attr.y]="day.centerY" text-anchor="middle" font-size="12"
					font-weight="900" fill="#3e2723" style="pointer-events: none; font-family: sans-serif;">
					{{ day.id }}
				</text>
			</g>
			}
		</g>
		<path
			d="M250,100 C320,100 390,120 420,195 C450,290 400,410 300,410 L200,410 C100,410 50,290 80,195 C110,120 180,100 250,100 Z"
			fill="none" stroke="#3e2723" stroke-width="6" style="pointer-events: none;" />

		<g class="face-overlay" style="pointer-events: none;">
			<path d="M160,190 L210,240 H140 Z" fill="#1a1a1a" />
			<path d="M340,190 L290,240 H360 Z" fill="#1a1a1a" />
			<path
				d="M150,290 C180,340 320,340 350,290 L310,290 L310,310 L280,310 L280,290 L220,290 L220,310 L190,310 L190,290 Z"
				fill="#1a1a1a" />
		</g>
	</svg>
	<div class="legend-container">
		<app-mood-picker (moodColorSelected)="m.getColor($event)" />
	</div>
</ng-template>
<ng-template #november let-m>
	<svg viewBox="0 0 400 550" width="100%" height="100%">
		<defs>
			<path id="textCurvePath" d="M 110,430 
				   C 110,350 50,300 50,180 
				   C 50,50 350,50 350,180 
				   C 350,300 290,350 290,430" />
			<clipPath id="scarfShapeMask">
				<use xlink:href="#textCurvePath" stroke="white" stroke-width="45" fill="none" />
			</clipPath>
			<linearGradient id="scarfShadow" x1="0%" y1="0%" x2="0%" y2="100%">
				<stop offset="0%" stop-color="#3c2a21" stop-opacity="0" />
				<stop offset="50%" stop-color="#3c2a21" stop-opacity="0.1" />
				<stop offset="100%" stop-color="#3c2a21" stop-opacity="0" />
			</linearGradient>
		</defs>
		<use xlink:href="#textCurvePath" fill="none" stroke="#3c2a21" stroke-width="49" stroke-linecap="butt" />
		<use xlink:href="#textCurvePath" fill="none" stroke="#ece0d1" stroke-width="45" stroke-linecap="butt" />

		@for (day of m.days; track day) {
		<use xlink:href="#textCurvePath" fill="none" [attr.stroke]="day.color" stroke-width="45"
			[attr.stroke-dasharray]="m.november.segmentLength + ' ' + (m.november.totalPathLength - m.november.segmentLength)"
			[attr.stroke-dashoffset]="-((day.date - 1) * (m.november.totalPathLength / 30))" (click)="m.updateMood(day)"
			style="cursor:pointer;" />
		@let textFill = ['#ead6ca', '#ddb892', '#b08968', '#fff'].includes(day.color) ? '#3c2a21' : '#FCF8E8';
		<text class="label">
			<textPath xlink:href="#textCurvePath" [attr.fill]="textFill"
				[attr.startOffset]="((day.date - 1) * (m.november.totalPathLength / 30)) + (m.november.segmentLength / 2)">
				{{day.date}}
			</textPath>
		</text>
		}
		<g transform="translate(110, 430)">
			<path d="M -24,0 C -28,10 -21,20 -25,30" />
			<path d="M -20,0 C -24,10 -17,20 -21,30" />
			<path d="M -16,0 C -20,10 -13,20 -17,30" />
			<path d="M -12,0 C -16,10 -9,20  -13,30" />
			<path d="M -8,0  C -12,10 -5,20  -9,30" />
			<path d="M -4,0  C -8,10  -1,20  -5,30" />
			<path d="M 0,0   C -4,10  4,20   0,30" />
			<path d="M 4,0   C 0,10   8,20   4,30" />
			<path d="M 8,0   C 4,10   12,20  8,30" />
			<path d="M 12,0  C 8,10   16,20  12,30" />
			<path d="M 16,0  C 12,10  20,20  16,30" />
			<path d="M 20,0  C 16,10  24,20  20,30" />
			<path d="M 24,0  C 20,10  28,20  24,30" />
		</g>

		<g transform="translate(290, 430)">
			<path d="M -24,0 C -28,10 -21,20 -25,30" />
			<path d="M -20,0 C -24,10 -17,20 -21,30" />
			<path d="M -16,0 C -20,10 -13,20 -17,30" />
			<path d="M -12,0 C -16,10 -9,20  -13,30" />
			<path d="M -8,0  C -12,10 -5,20  -9,30" />
			<path d="M -4,0  C -8,10  -1,20  -5,30" />
			<path d="M 0,0   C -4,10  4,20   0,30" />
			<path d="M 4,0   C 0,10   8,20   4,30" />
			<path d="M 8,0   C 4,10   12,20  8,30" />
			<path d="M 12,0  C 8,10   16,20  12,30" />
			<path d="M 16,0  C 12,10  20,20  16,30" />
			<path d="M 20,0  C 16,10  24,20  20,30" />
			<path d="M 24,0  C 20,10  28,20  24,30" />
		</g>
	</svg>

	<div class="legend-container">
		<app-mood-picker (moodColorSelected)="m.getColor($event)" />
	</div>
</ng-template>
<ng-template #december let-m>
	<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
		@for (d of m.days; track $index;) {
		<g class="bulb" [class.brightness]="d.color !== '#fff'" [attr.transform]="'translate(' + d.x + ',' + d.y + ')'"
			(click)="m.updateMood(d)">
			<circle cx="0" cy="0" r="5" [attr.fill]="d.color" />
			<rect x="-1" y="-6.2" width="2" height="2" fill="#333" />
			<text class="label" [class.lightText]="['#840627', '#af142e', '#e0464f'].includes(d.color)" x="0" y="0"
				text-anchor="middle" dy=".35em">
				{{$index + 1}}
			</text>
		</g>
		}
	</svg>
	<div class="legend-container">
		<app-mood-picker (moodColorSelected)="m.getColor($event)" />
	</div>
</ng-template>