.petal {
	transition: fill 0.4s ease, filter 0.3s;
	cursor: pointer;
}
.petal:hover {
	filter: brightness(1.2) saturate(1.2);
}
.branch {
	stroke-linecap: round;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
}
img {
	height: 20rem;
	margin-top: -3rem;
}

:host {
	background-color: #fff;
}
