<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
	<g fill="none" stroke="#5D4037" stroke-linecap="round" opacity="0.8">
		<path d="M40 180 Q 70 170, 90 140" stroke-width="2.5" />
		<path d="M90 140 C 110 120, 130 90, 140 45" stroke-width="1.2" />
		<path d="M110 100 L 100 65" stroke-width="0.8" />
		<path d="M125 90 L 160 85" stroke-width="0.8" />
		<path d="M85 145 L 65 95" stroke-width="0.8" />
		<path d="M105 125 L 120 115" stroke-width="0.8" />
		<path d="M120 140 L 175 135" stroke-width="0.8" />
	</g>

	@for (site of flowerSites; track $index) {
	<g>
		@for (p of [].constructor(site.count); track $index; let pIdx = $index) {
		<g [attr.transform]="getTransform(site.x, site.y, pIdx, site.count)">
			<path class="petal" [attr.d]="'M ' + site.x + ' ' + site.y + 
						 ' C ' + (site.x - 10) + ' ' + (site.y - 8) + ', ' + 
								 (site.x - 6) + ' ' + (site.y - 14) + ', ' + 
								 site.x + ' ' + (site.y - 11) + 
						 ' C ' + (site.x + 6) + ' ' + (site.y - 14) + ', ' + 
								 (site.x + 10) + ' ' + (site.y - 8) + ', ' + 
								 site.x + ' ' + site.y" [attr.fill]="getMoodColor(site.start + pIdx)" stroke="#F06292" stroke-width="0.1" />
		</g>
		}
		<circle [attr.cx]="site.x" [attr.cy]="site.y" r="2" fill="#C2185B" />
	</g>
	}
</svg>