<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
	<g class="trunk" fill="none" stroke="#4E342E">
		<path d="M100 190 Q105 160 100 130" stroke-width="8" />
		<path d="M100 130 Q70 120 45 130" stroke-width="4" />
		<path d="M100 130 Q130 120 155 140" stroke-width="4" />
		<path d="M100 130 Q105 100 100 75" stroke-width="3" />
		<path d="M100 100 Q75 80 60 90" stroke-width="2" />
		<path d="M100 100 Q125 80 140 100" stroke-width="2" />
	</g>

	@for (cluster of clusters; track $index) {
	<g>
		@for (p of [].constructor(cluster.count); track $index; let pIdx = $index) {
		<g [attr.transform]="getPetalTransform(cluster.x, cluster.y, pIdx, cluster.count)">
			<path class="petal" [attr.d]="'M ' + cluster.x + ' ' + cluster.y + 
						 ' C ' + (cluster.x - 8) + ' ' + (cluster.y - 12) + ', ' + 
								 (cluster.x - 4) + ' ' + (cluster.y - 18) + ', ' + 
								 cluster.x + ' ' + (cluster.y - 14) + 
						 ' C ' + (cluster.x + 4) + ' ' + (cluster.y - 18) + ', ' + 
								 (cluster.x + 8) + ' ' + (cluster.y - 12) + ', ' + 
								 cluster.x + ' ' + cluster.y" [attr.fill]="getMoodColor(cluster.start + pIdx)" stroke="#F06292"
				stroke-width="0.2" />
		</g>
		}
		<circle [attr.cx]="cluster.x" [attr.cy]="cluster.y" r="2" fill="#F48FB1" />
	</g>
	}
</svg>