/* No movement animation here, all elements are static */
:host {
	display: block;
	overflow: hidden;
}
.sparkle {
	fill: #fdf5d7;
	opacity: 0.7;
}

/* The tracking ornaments change color, but they are still complex 'glass' shapes */
.ornament {
	cursor: pointer;
	transition: filter 0.3s;
}
.ornament:hover {
	filter: brightness(1.3);
}
