.container {
	display: flex;
	align-items: flex-end;
	width: 50rem;
	height: 45rem;
	background-image: url("/rain.png");
	background-size: cover;
	background-position: right;
	background-color: #fff;
	justify-content: space-between;
}

.april-svg {
	width: 40rem;
	height: 45rem;
	position: relative;
	top: 6rem;
	left: 2.5rem;
	transform: rotate(10deg);
}

.legend-container {
	margin: 0 1rem 1rem 0;
}

.umbrella-label {
	font-family: sans-serif;
	font-size: 8.5px;
	font-weight: bold;
	fill: rgb(228, 228, 228);
	text-anchor: middle;
	dominant-baseline: central;
	pointer-events: none;
	paint-order: stroke;
	stroke: #494949;
	stroke-width: 1.5px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.shard-group {
	cursor: pointer;
	stroke: #bdbdbd;
	stroke-width: 0.5;
}
