<svg viewBox="0 0 800 720" xmlns="http://www.w3.org/2000/svg">
	<defs>
		<symbol id="tulip-head" viewBox="0 0 100 100">
			<path d="M50 90 C15 90 5 70 15 35 C20 15 35 15 45 30 L50 90 Z" fill="#fb7185" />
			<path d="M50 90 C85 90 95 70 85 35 C80 15 65 15 55 30 L50 90 Z" fill="#f43f5e" />

			<path d="M30 80 C30 50 40 10 50 10 C60 10 70 50 70 80 C70 95 30 95 30 80 Z" fill="#ffe4e6" />

			<path d="M48 35 Q50 30 52 35 M47 45 Q50 40 53 45" fill="none" stroke="#4c0519" stroke-width="1.5" />
		</symbol>

		<path id="stem-line" d="M0 0 L0 100" stroke="#4ade80" stroke-width="6" stroke-linecap="round" />
	</defs>

	<g>
		@for (item of aprilTulips(); track item.id) {
		<use href="#stem-line"
			[attr.transform]="'translate(' + item.stemX + ',' + item.stemY + ') rotate(' + item.stemRotation + ') scale(1, ' + item.scale + ')'" />
		}
	</g>

	<g>
		@for (item of aprilTulips(); track item.id) {
		<g
			[attr.transform]="'translate(' + item.x + ',' + item.y + ') rotate(' + item.rotation + ') scale(' + item.scale + ')'">
			<use href="#tulip-head" x="0" y="0" width="100" height="100" />

			<text x="50" y="45" text-anchor="middle" font-weight="900" fill="#881337" font-size="14">
				{{ item.id }}
			</text>
		</g>
		}
	</g>
</svg>