.container {
	display: flex;
	align-items: flex-end;
	width: 50rem;
	height: 45rem;
	background-image: url("/rain.jpg");
	background-size: cover;
	background-position: right;
	background-color: #fff;
	justify-content: space-between;
}

.april-svg {
	width: 40rem;
	height: 45rem;
}

.legend-container {
	margin: 0 1rem 1rem 0;
}
