.tracker-container {
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: #f8f8f8;
	width: 50rem;
	height: 45rem;
	justify-content: center;
}

.april-svg {
	width: 40rem;
	height: 45rem;
}

.legend {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 50px;
}

.mood-item {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
}

.swatch {
	width: 20px;
	height: 20px;
	border: 1px solid #000;
}

.active {
	outline: 3px solid #000;
	outline-offset: 2px;
}

.label {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}
