<div class="container">
	<svg viewBox="-150 0 700 500" class="chocolate-svg svg">
		<defs>
			<clipPath id="heartClip">
				<path d="M50,100 C45,90 0,75 0,35 C0,10 25,0 50,25 C75,0 100,10 100,35 C100,75 55,90 50,100 Z" />
			</clipPath>

			<filter id="wrapperJitter" x="-20%" y="-20%" width="140%" height="140%">
				<feTurbulence type="fractalNoise" baseFrequency="0.5" numOctaves="3" result="noise" />
				<feDisplacementMap in="SourceGraphic" in2="noise" scale="3" xChannelSelector="R" yChannelSelector="G" />
			</filter>
		</defs>
		<g transform="translate(-220, 40) rotate(-20)" opacity="0.9">
			<path
				d="M263,125 C330,5 520, 20 495,195 C480,305 295,435 280,465 C270,420 35,315 30,175 C25,25 200,10 260,120 Z"
				fill="#FFFBF5" stroke="#3E2723" stroke-width="4" />

			<path d="M180,380 L485,105" stroke="#FDE293" stroke-width="80" opacity="0.35" fill="#FDE293" />

			<path d="M155,355 L460,75" stroke="#3E2723" stroke-width="4" opacity="0.3" fill="none" />
			<path d="M215,405 L500,145" stroke="#3E2723" stroke-width="4" opacity="0.3" fill="none" />

			<g transform="translate(0, 275) rotate(-50)">
				@for (leafIdx of [0, 1]; track leafIdx) {
				<g [attr.transform]="getLeafTransform(leafIdx)">
					<g clip-path="url(#heartClip)"> </g>
					<path d="M50,100 C45,90 0,75 0,35 C0,10 25,0 50,25 C75,0 100,10 100,35 C100,75 55,90 50,100 Z"
						fill="none" stroke="#232323" stroke-width="2" />
				</g>
				}
			</g>
		</g>

		<g transform="translate(55, 15) rotate(15)">
			<path id="boxPath"
				d="M263,125 C330,5 520, 20 495,195 C480,305 295,435 280,465 C270,420 35,315 30,175 C25,25 200,10 260,120 Z"
				fill="#FFFBF5" stroke="#3E2723" stroke-width="6" />
		</g>
		<g transform="translate(0, 0)">
			@for (c of chocolates(); track c.id) {
			<g (click)="updateMood(c.id)" style="cursor: pointer;">

				<path [attr.d]="c.pts" fill="none" stroke="#3E2723" stroke-width="1.2" opacity="0.4"
					filter="url(#wrapperJitter)" transform="scale(1.15) "
					style="transform-origin: center; transform-box: fill-box;" />

				<path [attr.d]="c.pts" [attr.fill]="c.color" stroke="#3E2723" stroke-width="2" />

				<text [attr.x]="c.cx" [attr.y]="c.cy" text-anchor="middle"
					style="font-family: sans-serif; font-size: 11px; font-weight: 900; fill: #3E2723; pointer-events: none;">
					{{ c.id }}
				</text>
			</g>
			}
		</g>
	</svg>
</div>