.flex-row,
.flex-column {
	gap: 0.5rem;
}

.col {
	width: 38%;
}

p {
	margin: 0;
}

.height {
	height: 7rem;
}

.no-margin {
	margin-bottom: 0.5rem;
}

.quote {
	font-size: 0.9rem;
	color: #636363;
}
