.flex-row,
.flex-column {
	gap: 0.5rem;
}

.col {
	width: 38%;
}

p {
	margin: 0;
}

.height {
	height: 7rem;
}

.short-height {
	height: 5rem;
}

.tall-height {
	height: 10.7rem;
	padding: 0.8rem;
	box-sizing: border-box;
}

.no-margin {
	margin-bottom: 0.5rem;
}

blockquote {
	height: 5rem;
	position: relative;
	padding: 1rem 1rem 3rem;
	margin: 0;
	font-size: 1rem;
	color: #747474;
	background: conic-gradient(from 180deg at 100% calc(100% - 3px), #e1e1e1 0 25%, #fff0 0 100%),
		conic-gradient(from 180deg at 3px 50%, #e1e1e1 0 25%, #fff0 0 100%),
		conic-gradient(from 0deg at calc(100% - 3px) 50%, #e1e1e1 0 25%, #fff0 0 100%),
		conic-gradient(from 0deg at 0rem 3px, #e1e1e1 0 25%, #fff0 0 100%);
	border-radius: 4px;
}

blockquote:before,
blockquote:after {
	content: "";
	position: absolute;
	width: 1.2rem;
	height: 1.55rem;
	top: 1rem;
	left: -0.1rem;
	transform: rotate(5deg) scale(1.15);
	background: radial-gradient(circle at 0.6rem 1.05rem, #e1e1e1 0.5rem, #fff0 calc(0.5rem + 1px)),
		radial-gradient(
			circle at 1.2rem 0.5rem,
			#fff0 0.7rem,
			#e1e1e1 calc(0.7rem + 1px) calc(1.4rem + 1px),
			#fff0 calc(1.4rem + 2px)
		);
	filter: drop-shadow(1.2rem -0.2rem 0px #e1e1e1);
	border-radius: 100%;
}

blockquote:after {
	top: inherit;
	bottom: 2rem;
	transform: rotate(195deg) scale(1.15);
	right: 0;
	left: inherit;
}

blockquote em {
	font-weight: bold;
	padding-left: 1.75rem;
	height: fit-content;
	margin: 3.5rem auto 0;
	max-width: 25rem;
}

blockquote em:after {
	margin-right: 2rem;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	content: " ";
	display: inline-flex;
	background: #f000;
	width: 8rem;
	height: 3rem;
}

blockquote cite {
	font-weight: bold;
	position: absolute;
	bottom: 1.5rem;
	background: #505050;
	color: #ffffff;
	right: 4rem;
	padding: 0.5rem 1rem;
}

.section-title {
	margin-bottom: 0.5rem;
}

.text-color {
	color: #747474;
}

.factors {
	width: 95%;
	margin: auto;
}

mat-icon {
	border-radius: 25px;
	background-color: #f0f0f0;
	padding: 0.5rem;
}

.gap {
	gap: 0.2rem;
}

.loader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9999;
	transition: opacity 0.3s ease;
}

.loader {
	--color-1: #fff;
	--size: 1px;

	width: calc(48 * var(--size));
	height: calc(48 * var(--size));
	border-radius: 50%;
	position: relative;
	animation: rotate 1s linear infinite;
}
.loader::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0;
	border-radius: 50%;
	border: calc(5 * var(--size)) solid var(--color-1);
	animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}
