.frost-unit {
	transition: all 0.5s ease;
	cursor: pointer;
}
.frost-unit:hover {
	filter: brightness(1.5) drop-shadow(0 0 5px #fff);
	// transform: scale(1.1);
}

svg {
	border-radius: 12px;
	width: 100%;
}

.container {
	background-image: url("/frost.png");
	background-size: cover;
	background-position: center;
	display: flex;
	height: 45rem;
	width: 50rem;
}

.legend-container {
	display: flex;
	width: 100%;
	padding: 0 0 1rem 1rem;
}
