.container-july {
	background-image: url("/bee.png");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 45rem;
	width: 50rem;
	justify-content: space-between;
}

svg {
	width: 30rem;
	height: 30rem;
	margin: 7rem auto auto;
}

.legend-container {
	position: relative;
	right: -20rem;
	bottom: 1rem;
}
