.container-july {
	background-image: url(/bee.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	height: 45rem;
	width: 50rem;
	justify-content: center;
}

svg {
	width: 25rem;
	height: 25rem;
}
