.calendar-container {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 12px;
	box-shadow: 0px 0px 12px 2px rgb(242 242 242);
	padding: 1.5rem 0.5rem;
}

.calendar-body {
	display: grid;
	grid-template-columns: repeat(7, minmax(auto, 1fr));
	gap: 0.75rem;
	padding: 0 0.75rem;

	&.days {
		margin-bottom: 1.9rem;
		border-bottom: 0.063rem solid #f1f1f1;
	}
}

.calendar-day {
	font-size: 0.8rem;
	height: 2rem;
	width: 2rem;
	margin: 0;
	text-align: center;
	cursor: pointer;
}

.calendar-dayName {
	font-size: 0.7rem;
	text-align: center;
}

.navigation {
	margin-bottom: 1.3rem;
	margin-top: -0.5rem;
	gap: 1rem;
}

.navigation-buttons-container {
	gap: 0.2rem;
}

.navigation-buttons-container .mat-icon {
	width: 1.563rem;
	height: 1.563rem;
	font-size: 1.563rem;

	&:hover {
		cursor: pointer;
	}
}

.outside-month {
	opacity: 0.5;
}

.sunday {
	background-color: #232323;
	color: #fff;
	border-radius: 0.313rem;
	opacity: 1;
	font-weight: 500;
}

.today {
	background: transparent;
	border: 0.063rem solid;
	color: var(--main-text);
	border-radius: 0.313rem;
}
