.calendar-container {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	position: relative;
	border-style: solid;
	border-width: 0;
	background-color: #fbfbfb;
	border-color: #f4f3f6;
	border-radius: 12px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	width: 100%;
	max-width: 25rem;
}
